@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shadow-custom{
    box-shadow: 0 0 20px 0 #00000021;
}

main section{
    display: none;
}
main section.active{
    display: block;
}
#menuBaiTap .active{
    @apply
    bg-red-300 
}
