@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shadow-custom{
    box-shadow: 0 0 20px 0 #00000021;
}

main section{
    display: none;
}
main section.active{
    display: block;
}
#menuBaiTap .active{
    @apply
    bg-red-300 
}

/* ================ Hide Scrool in Input Elements===================== */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
